/*************************************************************************
* This is the SKIN style definition for the CSS menu.                    *
* Feel free to customize this section.                                   *
*************************************************************************/

/*
 * Menu container settings
 * Applies to the first level menu container
 */
.yellow {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
 	font-weight: bold;
}

/*
 * Menu container settings
 * Applies to second (or more) level menu containers
 */
.yellow ul {
	font-weight: normal;
}

/*
 * Menu items settings
 * Applies to all menu items in all menu containers
 */
.yellow li {
	background-color: #FFFFFF;
	width: 230px;
	margin-bottom: 5px;
	border-top-color: #EAECE2;
	border-top-width: 4px;
	border-top-style: solid;
}

/*
 * Menu items settings
 * Applies to second (or more) level menu items
 */
.yellow ul li {
	background-color: transparent;
	border: none;
	width: 230px;
	margin-bottom: 1px;
}


/* Settings specific for YELLOW skin */
/* this applies to the last item of the first level */
.yellow li.last {
	margin-bottom: 0px;
}


/*
 * Menu link settings
 * Applies to links that are to be found within the menu items, no matter the menu level
 */
.yellow a {
	text-decoration: none;
	color: #8F8F8F;
	line-height: 27px;
	padding: 5px 0px 0px 24px;
	cursor: pointer;
}

/*
 * Menu link settings
 * Applies to links located in the second (or more) level menu items
 */
.yellow ul a {
	color: #585858;
	line-height: 19px;
	padding: 0px 5px 0px 24px;
	border-right: 12px solid #ffffff;
}

/***************************************************************************
* In this section, we will define what happens when mouse-overing an item  *
***************************************************************************/

/*
 * Mouse over on menu items
 * Applies to all menu items in all menu containers
 */
.yellow li.hover{
}
  
/*
 * Mouse over on menu items
 * Applies to second (or more) level menu items
 */
.yellow ul li.hover {
}

/*
 * Mouse over on links
 * Applies to all links in all menu items
 */
.yellow a.hover {
	color: #8F8F8F !important;
	padding-top: 0px;
	border-top: 5px solid #FFDE5D;
}

/*
 * Mouse over on links
 * Applies to links located in the second (or more) level menu items
 */
.yellow ul a.hover {
  	color:#D5AB07 !important;
	border-top: none;
}

/*****************************************************************************
* In this section, we will define what happens when a menu item is selected  *
*****************************************************************************/

/*
 * Selected menu item
 * Applies to selected menu items in all menu containers
 */
.yellow li.selected {
}

/*
 * Selected menu item
 * Applies to second (or more) level selected menu items
 */
.yellow ul li.selected {
}

/*
 * Selected links
 * Applies to selected links in all menu items
 */
.yellow a.selected {
	color: #C2A121;
}

/*
 * Selected links
 * Applies to selected links located in the second (or more) level menu items
 */
.yellow ul a.selected {
	color: #C2A121;
	font-weight: bold;
}


/******************************************************************************
* In this section, we will define the menu arrows behavior                    *
* An arrow is inserted next to the menu item when the menu item has sub-menus *
******************************************************************************/

/* 
 * Define the arrow
 * Applies to all menu items that have sub-menus
 */
.yellow .arrow {
	background-image:url(img/clean_arrow_horiz.gif);
	background-repeat: no-repeat;
	background-position: 10px 13px;
}

/* 
 * Define the arrow
 * Applies to all menu items that have sub-menus located in the second (or more) level
 */
.yellow .hover ul .arrow,
.yellow ul .arrow {
	background-image:url(img/clean_arrow_horiz.gif);
	background-position: 9px 6px;
}

/* 
 * Define the arrow on mouse over
 * Applies to all menu items that have sub-menus on mouse over
 */
.yellow .hover .arrow {
}

/* 
 * Define the arrow on mouse over
 * Applies to all menu items that have sub-menus located in the second (or more) level on mouse over
 */
.yellow ul .hover .arrow {
	background-image:url(img/clean_arrow_horiz.gif);
	background-position: 9px 7px;
}
/*************************************************************************
* This is the LAYOUT style definition for the CSS menu                   *
* DO NOT alter this section, unless you know what you're doing           *
*************************************************************************/
div.expandable {
	clear: both;
}
div.expandable br {
	clear: both;
}
div.expandable ul {
	margin: 0px;
	padding: 0px;
	display: block;
	float: left;
	clear: both;
}
div.expandable li {
	list-style-type: none;
	display: block;
	float: left;
	clear: both;
	text-align: left;
    position: relative;
}
div.expandable li img {
	border: none;
}
div.expandable a {
	clear: both;
	float: none;
	display: block;
	margin: 0px;
}
div.expandable ul li ul {
	position: static;
	visibility: visible;
	display: block;
	clear: both;
	margin: 0px;
	margin-top: -5000px;
}
div.expandable ul li ul li ul {
	display: none;
}
div.expandable ul li ul li {
	clear: both;

}
div.expandable ul li ul li a {
	clear: both;
}
.hasImg,
.hasImg a {
	padding: 0px !important;
	margin:	0px	!important;
	border:	none !important;
	outline: none !important;
	background:	transparent !important;
	width: auto !important;
}
